pkgbase = hebnix-linux-bin
	pkgdesc = Rocket League overlay, stats tracker and item-changer for Linux (Hyprland/wlroots), prebuilt upstream binary
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/xplodingeggo/hebnix-linux
	install = hebnix.install
	arch = x86_64
	license = LicenseRef-Hebnix
	depends = gtk3
	depends = systemd-libs
	depends = alsa-lib
	depends = openssl
	depends = xdotool
	depends = webkit2gtk-4.1
	depends = gtk-layer-shell
	depends = wayland
	depends = libxkbcommon
	depends = libayatana-appindicator
	optdepends = kdotool: window focus tracking on KDE/Plasma (AUR)
	optdepends = picom: compositing manager for the in-game overlay on i3 and other X11 window managers without one
	optdepends = kscreen: kscreen-doctor, used for monitor info on KDE/Plasma
	optdepends = tailscale: Workshop LAN multiplayer (Hebnix runs its own separate tailscaled)
	optdepends = dotnet-runtime: downloading Steam Workshop maps in the Import Map tab
	provides = hebnix
	conflicts = hebnix-linux
	source = https://github.com/xplodingeggo/hebnix-linux/releases/download/v0.2.0/hebnix-0.2.0-linux-x86_64-arch.tar.gz
	sha256sums = SKIP

pkgname = hebnix-linux-bin
